* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 禁止滚动 */
  background-color: #000;
}

#root {
  width: 100vw;
  height: 100vh;
}
